[Unit]
Description=%p %i

Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0

KillMode=none

Restart=always
RestartSec=10s

EnvironmentFile=/etc/environment

Environment="SERVICE_NAME=%p_%i"
Environment="SERVICE_IMAGE_URL=redjack/mesos-slave:0.21.0"

Environment="MESOS_MASTER=zk://172.17.8.100:2181/mesos"

ExecStartPre=-/usr/bin/docker kill $SERVICE_NAME
ExecStartPre=-/usr/bin/docker rm $SERVICE_NAME
ExecStartPre=/usr/bin/docker pull $SERVICE_IMAGE_URL

ExecStart=/usr/bin/docker run --rm \
  --name=${SERVICE_NAME} \
  --net=host \
  --privileged \
  -v /sys:/sys \
  -v /usr/bin/docker:/usr/bin/docker:ro \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /lib64/libdevmapper.so.1.02:/lib/libdevmapper.so.1.02:ro \
  -e MESOS_IP=${COREOS_PRIVATE_IPV4} \
  -e MESOS_MASTER=${MESOS_MASTER} \
  -e MESOS_EXECUTOR_REGISTRATION_TIMEOUT=5mins \
  -e MESOS_CONTAINERIZERS=docker,mesos \
  -e MESOS_ISOLATOR=cgroups/cpu,cgroups/mem \
  -e MESOS_LOG_DIR=/var/log \
  ${SERVICE_IMAGE_URL}

ExecStop=/usr/bin/docker stop $SERVICE_NAME

[X-Fleet]
Global=true
MachineMetadata=type=slave
